.logo-img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.no-border {
    border: none !important; /* Elimina el borde */
}

.link-black {
    color: black !important; 
    
}

.link-black:hover {
    color: #f5588d !important; 
    text-decoration: underline; 
}