footer {
    background-color: #ff8088 !important; /* ff8088 */
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: 14px !important;
  }